body.container{
	background: #f2f2f2;
	padding: 60px 20px 0;
}

.navbar-inverse {
	background-color: #3d4a57;
	border-color: #333;
}

.navbar-inverse .navbar-nav > li > a,

.navbar a.navbar-brand {
	color: #fbfbfb;
	text-decoration: none;
}

.bar{
	fill: steelblue;
}

.bar:hover{
	fill: blue;
}

.axis {
	font: 10px sans-serif;
}

.axis path,

.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
 
.path_line {
	fill: none;
	stroke: steelblue;
	stroke-width: 3;
}

.path_line:hover{
	stroke: blue;
	stroke-width: 4;
}

.chart_wrapper {
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	margin-bottom: 10px;
}

.chart_wrapper .chart_title {
	border-bottom: 1px solid #d7d7d7;
	padding: 7px 10px 4px;
	font: 16px;
}

.chart_wrapper .chart_stage {
	overflow: hidden;
	padding: 5px 10px;
	position: relative;
}

.chart_wrapper .text_stage {
	font: 20px;
	padding: 5px 10px;
	position: relative;
}




