body.application{
	background: #f2f2f2;
	padding: 0px 0px 0px;
}

body.application div[class^="row"] {
	padding-left: 20px;
}

body.application > .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

body.application > .container {
  padding-left: 0px;
  padding-right: 0px;
}

body.application div[class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

body.application p.summary {
	font-size: 200%;
	color: black;
	opacity: .8;
	padding-left: 0px;
}

body.application p.sub-summary {
  font-size: 100%;
  color: black;
	opacity: .5;
	padding-left: 0px;
}

.navbar-default .container-fluid {
	background-color: #3d4a57;
	padding: 10px 8px 10px;
	opacity: .9;
}

.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
	color: white;
	text-decoration: none;
	font-size: 180%;
	font-family: Arial;
}

.navbar p.navbar-text {
  color: white;
  text-decoration: none;
  font-size: 100%;
	font-family: Arial;
}

.icon {
	padding-left: 20px;
}

.bar{
	fill: steelblue;
}

.bar:hover{
	fill: blue;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	opacity: 0.3;
	shape-rendering: crispEdges;
}

 
.path_line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2;
}

.path_line:hover{
	stroke: blue;
	stroke-width: 3;
}

.tick text{
	font-size: 10px;
}

.tick line{
  stroke: blue;
	opacity: 0.2;
}

.chart_wrapper {
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	margin-bottom: 10px;
}

.chart_wrapper .chart_title {
	border-bottom: 1px solid #c9c4c4;
	opacity: .8;
	padding: 7px 10px 4px;
	font-size: 130%;
	font-family: Arial;
}

.chart_wrapper .chart_title i{
	padding-left: 0px;
}

.chart_wrapper .chart_stage {
	overflow: hidden;
	padding: 5px 10px;
	position: relative;
}

.chart_wrapper .text_stage {
	font: 18px;
	padding: 0px 10px;
	position: relative;
}



